:root {
    --background-color: #e3022c;
    --font-color: #fefefe;
}

* {
    color: var(--font-color);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    transition-duration: .5s;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    align-items: center;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    width: 100%;
}

span {
    height: fit-content;
}
