---
import Icon from "../components/icon.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Feed">
    <nav>
        <span><Icon icon="ets" /></span>
        <div>
            <span><Icon icon="bell" /></span>
            <span><Icon icon="message" /></span>
        </div>
    </nav>
    <div id="feed-content"></div>
</MainLayout>

<style>
    #feed-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        overflow-y: auto;
    }

    * {
        color: black;
    }

    #feed {
        flex: 1;
    }

    nav {
        display: flex;
        justify-content: space-between;
        height: 2rem;
        position: sticky;
        top: 0;
        background-color: white;
    }

    nav > span:first-child {
        width: 2rem;
        height: 2rem;
    }

    nav > div {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }
</style>
