---
import Icon from "../components/Icon.astro";
import MenuLayout from "../layouts/MenuLayout.astro";
import LoadingSpinner from "../components/LoadingSpinner.astro";
---

<MenuLayout title="Welcome to TindÉTS">
    <div id="loading-screen">
        <div id="logo-ets">
            <Icon icon="ets" />
        </div>
        <LoadingSpinner size="10vw" />
    </div>
    <script>
        // Redirect to login page after 1 second to simulate a loading screen
        setTimeout(() => {
            window.location.href = "login.html";
        }, 1000);
    </script>
</MenuLayout>

<style>
    #loading-screen {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
    }

    #logo-ets {
        width: 100vw;
        height: 100vw;
    }
</style>
